---
import { Briefcase, FileDown, ImagesIcon } from "@lucide/astro";
import resumePdf from "@/assets/pdf/Ariel-Maniago-Resume.pdf";
import { Button } from "@/components/ui/button";
import { Kbd } from "../ui/kbd";

const { pathname } = Astro.url;
const navLinks = [
	{
		name: "ayie",
		url: "/",
		kbd: "A",
	},
	{
		name: "insights",
		url: "/insights/",
		kbd: "I",
	},
	{
		name: "builds",
		url: "/builds/",
		kbd: "S",
	},
	// {
	//   name: "routes",
	// },
];
---

<header class="flex items-center justify-between">
  <nav class="flex items-center justify-between w-full">
    <ul class="font-medium flex gap-2">
      {
        navLinks.map(({ url, name }) => (
          <li>
            {/* {name === "routes" ? (
              <Button id={name} variant="link" className="" asChild>
                <div class="dropdown relative group inline-block">
                  <button
                    class="flex items-center gap-1 dropbtn text-muted-foreground transition-colors duration-200 ease-in-out
                              group-hover:text-primary
                             focus:text-primary"
                  >
                    {name}
                    <ChevronDown class="w-4 h-4 transition-transform duration-200 group-hover:rotate-180 group-focus:rotate-180" />
                  </button>

                  <ul
                    class="dropdown-content absolute rounded-md dark:bg-stone-800 bg-gray-100 shadow-md px-2 py-1 text-sm dark:text-stone-50
                             opacity-0 translate-y-1 pointer-events-none
                             transition-all duration-200
                             group-hover:opacity-100 group-hover:translate-y-0 group-hover:pointer-events-auto
                             group-focus-within:opacity-100 group-focus-within:translate-y-0 group-focus-within:pointer-events-auto
                             grid gap-1 z-10"
                  >
                    <li>
                      <a href="/photos">photos</a>
                    </li>
                    <li>
                      <a href="/career">career</a>
                    </li>
                    <li>
                      <a href="/about">about</a>
                    </li>
                  </ul>
                </div>
              </Button>
            ) : ( */}
            <Button variant="link" size="sm" asChild client:load>
              <a
                href={url}
                class={`${pathname === url ? "" : "text-muted-foreground hover:text-primary transition-colors duration-200 ease-in-out"} flex items-center gap-1`}
              >
                {name}
                {/* <span class="lg:block hidden">
                  <Kbd>{kbd}</Kbd>
                </span> */}
              </a>
            </Button>
            {/* )} */}
          </li>
        ))
      }
    </ul>
    <ul class="flex items-center gap-2">
      <li>
        <a href="/photos" title="photos">
          <ImagesIcon
            size={20}
            class="text-muted-foreground hover:text-primary"
          />
        </a>
      </li>
      <li>
        <a href={resumePdf} title="Download Resume" download>
          <FileDown
            size={20}
            class="text-muted-foreground hover:text-primary"
          />
        </a>
      </li>
    </ul>
  </nav>
</header>
<!-- <script is:inline>
  document.addEventListener("keydown", (e) => {
    // ignore typing in input/textarea
    const activeTag = document.activeElement.tagName.toLowerCase();
    if (["input", "textarea"].includes(activeTag)) return;

    const shortcuts = {
      a: "/",
      i: "/insights/",
      s: "/showcase/",
    };

    const key = e.key.toLowerCase();

    if (shortcuts[key]) {
      window.location.href = shortcuts[key];
    }
  });
</script> -->
